<div class="node">
  <div class="node-title">Counter</div>

  <div class="control-wrapper">
    <div class="control-title">Input</div>

    <handle type="target" position="left" id="input-in" [template]="squareHandleTemplate" />
  </div>

  <div class="control-wrapper">
    <div class="control-title">Radix</div>
    <input class="input" [value]="node.data?.id?.radix()">
  </div>

  <div class="control-wrapper">
    <div class="control-title">Multiply</div>
    <input class="input" [value]="node.data?.id?.multiply()">
  </div>

  <div class="control-wrapper">
    <div class="control-title">Output</div>

    <handle type="target" position="right" id="output-out" [template]="squareHandleTemplate" />
  </div>

</div>

<ng-template #squareHandleTemplate let-ctx>
  <svg:circle
    stroke-width="1"
    stroke="black"
    r="5"
    [attr.cx]="ctx.point().x"
    [attr.cy]="ctx.point().y"
    [class.handle_idle]="ctx.state() === 'idle'"
    [class.handle_valid]="ctx.state() === 'valid'"
    [class.handle_invalid]="ctx.state() === 'invalid'"
  />
</ng-template>
